
  .loginUserImg {
    width: 50px;
    height: 50px;
  }
  .navbar-nav .nav-link.active {
    color: #007bff !important;
    font-weight: bold !important;
    background-color: #e9ecef !important;
  }
  .switch {
    --input-focus: #2d8cf0;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    --input-out-of-focus: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    width: 70px;
    height: 36px;
  }
  .toggle {
    opacity: 0;
  }
  .slider {
    box-sizing: border-box;
    border-radius: 100px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-out-of-focus);
    transition: 0.3s;
  }
  .slider:before {
    content: "En";
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 2px;
    bottom: 1px;
    border: 2px solid var(--main-color);
    border-radius: 100px;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    transition: 0.3s;
  }
  .toggle:checked + .slider {
    background-color: var(--input-focus);
    transform: translateX(-32px);
  }
  .toggle:checked + .slider:before {
    content: "AR";
    transform: translateX(32px);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    color: transparent;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    background: linear-gradient(90deg, #5f9cff, #765191);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-brand img {
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .navbar-brand:hover {
    color: #007bff;
  }
  
  .navbar-brand img:hover {
    opacity: 0.8;
  }
  