<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img 
        style="width: 60px;height: 60px;" src="assets/Images/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item" *ngIf="IsLogin">
            <a class="nav-link" routerLink="student" routerLinkActive="active">Students</a>
          </li>
        </ul>
        <ul *ngIf="!IsLogin; else logined" class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="active">register </a>
          </li>
        </ul>
        
        <ng-template #logined>
          <ul class="navbar-nav  d-flex align-items-end justify-content-start">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ FullName}} <img class="rounded rounded-circle loginUserImg" [src]="profileImageUrl"
                  alt="">
              </a>
              <ul class="dropdown-menu text-end " aria-labelledby="navbarDropdown" dir="ltr">
                <li><a class="dropdown-item" routerLink="/Profile">بروفايلي <i class="fa fa-user"></i></a></li>
                <li><a class="dropdown-item" (click)="logout()">تسجيل الخروج <i class="fa fa-sign-out"></i></a></li>
              </ul>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>